#container{
	margin:0;
	padding:0;
	}

#nav{
	/*position:absolute;
	top: 10px;
	right: 10px;*/
	float: right;
	margin:20px 20px 15px 0;
	height:35px;
	}

#contents{
	/*margin: 50px 50px 0 50px;
	position: absolute;*/
	margin:0 50px;
	}

.dropmenu{
	float: left;
	margin: 0 5px;
	padding:0;
}

#go_top{
	float:left;}
#go_top img{
	width:160px;
	height:220px;
	border: 0;
}

h1{
	margin:10px auto 30px;
	border-radius: 5px;}

#midasi{
	clear: both;
}
