#container{
	margin:0;
	padding:0;
	}

#nav{
	position:absolute;
	top: 10px;
	right: 10px;
	}

#contents{
	margin:70px 50px 0 50px;
	}

/*dropmenu*/

/*#nav ul{	
	visibility: hidden;
	opacity:0;
	transition: .0s;
	}
	


#nav:hover ul{
	visibility: visible;
	opacity:1;
}*/